.warningmessage {
  white-space: pre;
  font-family: monospace;
}

code {
    white-space: pre;
}

.ace_editor div {
    font: inherit!important;
    -webkit-font-feature-settings: normal;
    -moz-font-feature-settings: normal;
    font-feature-settings: normal;
}   

.programbox {
  // border: 1px solid black;
  // margin-bottom: 5px;
  height: 200px;
  // width: 300px;
  //width:95%;
  
  // from rust.css
  font-family: "Source Code Pro", Menlo, Monaco, Consolas, "DejaVu Sans Mono", monospace;
  font-size: 13px;
}
    
 

.welleditor {
    display: inline-block;
    width:100%;
    // height: 400px;

    padding: 10px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.welleditor .actbutton {
    position: absolute;
    top: 10px;
    right: 10px;
}

.typeToolTip {
  z-index:25; 
  background-color: #D8D8D8;
  border-radius: 5px 5px;
  
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); 
  -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); 

  font-family: 'Monaco', 
               'Menlo',
               'Ubuntu Mono', 
               'Consolas',
               'source-code-pro', 
               monospace;

  // font-size: 12px;
             
  white-space: pre;
  display:block;
  position: fixed; 
  left: 1em; top: 2em; 
  z-index: 99;
  margin-left: 5; 
  background: #FFFFAA; 
  border: 2px solid #FFAD33;
  padding: 0.8em 1em;
}

